<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="metadataSupport" name="ContactManagement.User.SignupService">
				<endpoint address="" binding="basicHttpBinding" contract="ContactManagement.User.ISignup" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/ContactManagement/SignupService/" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="metadataSupport" name="ContactManagement.User.LoginService">
				<endpoint address="" binding="basicHttpBinding" contract="ContactManagement.User.ILogin" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/ContactManagement/LoginService/" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="metadataSupport" name="ContactManagement.User.ForgotService">
				<endpoint address="" binding="basicHttpBinding" contract="ContactManagement.User.IForgot" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/ContactManagement/ForgotService/" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="metadataSupport" name="ContactManagement.User.ResetService">
				<endpoint address="" binding="basicHttpBinding" contract="ContactManagement.User.IReset" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/ContactManagement/ResetService/" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="metadataSupport" name="ContactManagement.User.ContactService">
				<endpoint address="" binding="basicHttpBinding" contract="ContactManagement.User.IContact" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/ContactManagement/ContactService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadataSupport">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>